<div class="app">
  <main class="app__main">
    <div class="app__project-menu">
      <h3 class="app__project-name">MSI 2020</h3>
      <div (click)="toogleFavouritesSideBar()" class="app__favorite-nav">
        <img class="app__favorite-icon" src="assets/icons/menu.svg">
        <span class="app__favorite-text">Favourite</span>
      </div>
    </div>
    <h1 class="app__title">Hey!</h1>
    <h2 class="app__sub-title">Let’s try to find a joke for you:</h2>
    <app-search></app-search>
    <section class="app__jokes-list">
      <ng-container *ngIf="!(loading$ | async); else spinner">
        <app-pagination [jokes]="(jokes$ | async)"></app-pagination>
      </ng-container>
      <ng-template #spinner>
        <div class="app__spinner">
          <app-spinner></app-spinner>
        </div>
      </ng-template>
    </section>
  </main>
  <div [ngClass]="{'app__open-sidebar': isSideBarOpen}" class="app__favorite-jokes">
    <app-favourites  (closeBar)="toogleFavouritesSideBar()"></app-favourites>
  </div>
</div>
<app-snackbar></app-snackbar>