<div class="favorites__wrapper">
  <div id="sidebar" class="favorites">
    <header class="favorites__header">
      <h3 class="favorites__title">Favourites</h3>
      <div (click)='closeBar.emit();' class="favorites__back-nav">
        <img class="favorites__favorite-icon" src="assets/icons/close-menu.svg">
        <span class="favorites__favorite-text">Favourite</span>
      </div>
    </header>
    <div class="favorites-list">
      <div *ngFor="let joke of (favorites$ | async)" class="favorites__joke">
        <app-joke [showTag]="false" [joke]="joke"></app-joke>
      </div>
      <p class="favorites__no-result" *ngIf="!(favorites$ | async).length">No favorites...</p>
    </div>
  </div>
</div>