<div class="joke">
  <div class="joke__message-icon">
    <span class="joke__icon-wrapper">
      <img src="assets/icons/message.svg">
    </span>      
  </div>
  <div class="joke__content">
    <span class="joke__link-wrapper">ID:
      <a class="joke__link" [href]="joke.url">{{joke.id}}</a>
      <img src="assets/icons/link.svg">        
    </span>
    <p class="joke__text">{{joke.value}}</p>
    <div class="joke__info">
      <p class="joke__last-update">{{timeFromNow}}</p>
      <p *ngIf="joke.categories.length && showTag" class="joke__tag">{{joke.categories[0]}}</p>
    </div>
  </div>
  <div (click)="toggleFavorite(joke)" class="joke__favorite-icon">    
    <img *ngIf="!isFavorite(joke.id); else favorite" src="assets/icons/empty-heart.svg">        
  </div>
</div>

<ng-template #favorite>
  <img src="assets/icons/full-heart.svg">               
</ng-template>