// Colors
$white: #FFFFFF;
$grey-lighter: #F8F8F8;
$grey: #ABABAB;
$black: #333333;
$blue-ligter: #8EA7FF;
$blue: linear-gradient(92.01deg, $blue-ligter 0%, #7291FF 100%);
$yellow: #FFE399;
$red: #F8B7BD;
$green: #B7D8B7;

// Main Screen Paddings
$desktop-padding: 40px 140px;
$tablet-padding: 40px;
$mobile-padding: 20px;

// Joke Component
$joke-padding1: 67px 40px 40px;
$joke-padding2: 47px 20px 20px;
$joke-heart-position1: 40px;
$joke-heart-position2: 20px;

// Font-sizes
$font-size32: 32px;
$font-size24: 24px;
$font-size20: 20px;
$font-size18: 18px;
$font-size16: 16px;
$font-size14: 14px;
$font-size12: 12px;
$font-size10: 10px;

// Line Heights
$line-height44: 44px;
$line-height28: 28px;
$line-height26: 26px;
$line-height22: 22px;
$line-height20: 20px;
$line-height16: 16px;
$line-height14: 14px;




