// Colors
$white: #FFFFFF;
$grey-lighter: #F8F8F8;
$grey: #ABABAB;
$black: #333333;
$blue-ligter: #8EA7FF;
$blue: linear-gradient(92.01deg, $blue-ligter 0%, #7291FF 100%);

// Main Screen Paddings
$desktop-padding: 40px 140px;
$tablet-padding: 40px;
$mobile-padding: 20px;

// Joke Component
$joke-padding1: 67px 40px 40px;
$joke-padding2: 47px 20px 20px;
$joke-heart-position1: 40px;
$joke-heart-position2: 20px;

// Font-sizes
$font-size1: 32px;
$font-size2: 24px;
$font-size3: 20px;
$font-size4: 18px;
$font-size5: 16px;
$font-size6: 14px;
$font-size7: 12px;
$font-size8: 10px;

// Line Heights
$line-height1: 44px;
$line-height2: 28px;
$line-height3: 26px;
$line-height4: 20px;
$line-height5: 14px;