@import "src/assets/styles/variables";

.search {
  &__container {
    margin-bottom: 15px;
  }

  &__chips {
    margin-top: 20px;

    .chip {
      cursor: pointer;
      border: 2px solid $grey-lighter;
      box-sizing: border-box;
      border-radius: 6px;
      background-color:  $white;
      padding: 4px 13px;
      font-size: $font-size7;
      line-height: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $grey;
      margin: 0 10px 10px;
      
      &:focus {
        outline: none;
      }
    }

    .active-chip {
      background-color: $grey-lighter;
      color: $black;
    }
  }

  &__input {
    margin-top: 20px;
    width: 100%;
    border: 2px solid $black;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 15px;

    &:focus {
      outline: none;
    }
  }

  &__submit {
    cursor: pointer;
    margin-top: 5px;
    background: $blue;
    border-radius: 10px;
    padding: 10px 40px;
    border: none;  
    font-size: $font-size5;
    line-height: 22px;
    color: $white;

    &:focus {
      outline: none;
    }
  }

  &__button {
    display: block;

    .button-label {
      display: flex;

      .radio-container {
        position: relative;
        cursor: pointer;

        .circle {
          box-sizing: border-box;
          position: absolute;
          height: 20px;
          left: 0;
          top: 0;
          width: 20px;
          border-width: 2px;
          border-style: solid;
          border: 2px solid $grey;
          border-radius: 50%;
        }

        .inner-circle {
          position: absolute;
        }

        input {
          margin: 4px;
          visibility: hidden;

          &:checked ~ .inner-circle {
            transform: scale(0.5);
            background-color: $black;
            border-radius: 50%;
            box-sizing: border-box;
            height: 20px;
            left: 0;
            position: absolute;
            top: 0;
            width: 20px;
          }

          &:checked ~ .circle {
            border-color: $black;
          }
        }
      }

      .radio-content {
        padding-left: 15px;
        font-size: $font-size4;
        
        &::first-letter {
          text-transform: capitalize;
        }
      }
    }
  }
}